body {
background-color: #68594e;
color: #f9e1cf;
font-family: roboto;
font-size: 18px;
}

h1 {
font-size: 22px;
font-weight: normal;
}

h2 {
font-size: 20px;
font-weight: normal;
}

.translation {
font-size: 14px;
color: #30261f;
}

section::first-letter {
font-size: 200%;
}